<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Gradient Resume</title>
</head>

<body>
    <main class="resume-container">
        <div class="layout-container">
            <aside class="sidebar-container">
                <div class="sidebar-section">
                    <h1 class="name">James Wilson</h1>
                    <h4 class="role">
                        <div class="text-secondary">Software Engineer</div>
                    </h4>
                </div>
                <div class="sidebar-section">
                    <h3 class="section-title">
                        Skills
                    </h3>
                    <div class="section-details">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero alias amet quasi, id cupiditate atque.
                    </div>
                </div>
                <div class="sidebar-section">
                    <h3 class="section-title">
                        Certifications
                    </h3>
                    <div class="section-details">
                        <ul>
                            <li>
                                <div class="certificate">
                                    <div class="certificate-title">
                                        Azure AI Engineer Associate
                                    </div>
                                    <div class="certificate-issue-details text-secondary">
                                        Microsoft, 2021
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="certificate">
                                    <div class="certificate-title">
                                        AI-900: Microsoft Azure AI Fundamentals
                                    </div>
                                    <div class="certificate-issue-details text-secondary">
                                        Microsoft, 2022
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="certificate">
                                    <div class="certificate-title">
                                        AZ-900: Microsoft Azure Fundamentals
                                    </div>
                                    <div class="certificate-issue-details text-secondary">
                                        Microsoft, 2019
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-section">
                    <h3 class="section-title">
                        Education
                    </h3>
                    <div class="section-details">
                        <ul>
                            <li>
                                <div class="education">
                                    <div class="degree">Computer Science (BSc)</div>
                                    <div class="years text-secondary">2012 - 2015</div>
                                    <div class="institution text-secondary">University of Oxford, Oxford</div>
                                </div>
                            </li>
                            <li>
                                <div class="education">
                                    <div class="degree">Modern Digital Arts (BSc)</div>
                                    <div class="years text-secondary">2009 - 2012</div>
                                    <div class="institution text-secondary">University of Oxford, Oxford</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="details-container">
                <div class="detail-section">
                    <header class="header">
                        <div class="contact">
                            <ul>
                                <li>
                                    <div class="contact-icon"><i class='bx bxs-envelope'></i></div>
                                    <div class="contact-value">yourname@pro.dev</div>
                                </li>
                                <li>
                                    <div class="contact-icon"><i class='bx bxl-linkedin-square'></i></div>
                                    <div class="contact-value">linkedin.com/in/yourname/</div>
                                </li>
                                <li>
                                    <div class="contact-icon"><i class='bx bxl-github'></i></div>
                                    <div class="contact-value">github.com/yourname</div>
                                </li>
                                <li>
                                    <div class="contact-icon"><i class='bx bxs-map-pin'></i></div>
                                    <div class="contact-value">London, UK</div>
                                </li>
                            </ul>
                        </div>
                        <div class="profile-picture">
                            <div class="img-frame">
                                <img src="./resources/profile.jpg" alt="profile picture">
                            </div>
                        </div>
                    </header>
                </div>

                <div class="detail-section">
                    <div class="introduction">
                        <p>Hi! My name is James Wilson, and I'm a seasoned senior software engineer with over 8 years of experience in the dynamic world of software development. Throughout my career, I've had the privilege of working on a diverse range of projects, from developing cutting-edge applications to optimizing complex systems for efficiency and performance. In this ever-evolving field, I'm excited to continue pushing the boundaries of what's possible through code, and I look forward to sharing my insights and experiences with you.</p>
                    </div>
                </div>

                <div class="detail-section">
                    <div class="work-experience">
                        <h2 class="section-title">JOB & EXPERIENCE</h2>
                        <section class="work-experience-section">
                            <div class="role">Java developer</div>
                            <div class="company-details">
                                <div class="company-name text-secondary">
                                    EPK Systems
                                </div>
                                <div class="dates">2020 - 2023</div>
                            </div>
                            <div class="work-experience-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum reprehenderit officia, nihil tempore ad sequi quas totam laboriosam veniam hic mollitia voluptatem consectetur similique omnis distinctio! Reprehenderit maxime aliquid numquam?
                            </div>
                            <div class="highlights">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, tempora?</li>
                                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione vero aut unde fugiat reprehenderit.</li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum ad dolorem blanditiis pariatur perspiciatis earum commodi ab.</li>
                                </ul>
                            </div>
                        </section>
                        <section class="work-experience-section">
                            <div class="role">Android developer</div>
                            <div class="company-details">
                                <div class="company-name text-secondary">Google</div>
                                <div class="dates">2016 - 2020</div>
                            </div>
                            <div class="work-experience-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum reprehenderit officia, nihil tempore ad sequi quas totam laboriosam veniam hic mollitia voluptatem consectetur similique omnis distinctio! Reprehenderit maxime aliquid numquam?
                            </div>
                            <div class="highlights">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, tempora?</li>
                                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione vero aut unde fugiat reprehenderit.</li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum ad dolorem blanditiis pariatur perspiciatis earum commodi ab.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>